body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #f4f4f4;
}
button {
    background-color: #00B19D;
    color: white;
    border: none;
    padding: 10px 20px;
    margin: 10px;
    cursor: pointer;
    font-size: 16px;
    border-radius: 5px;
}
button:hover {
    background-color: #0056b3;
}

/* Estilos del modal */
dialog {
    border: none;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0px 0px 10px #333;
    width: 50%;
}
textarea, input {
    width: 100%;
    padding: 8px;
    margin: 5px 0;
}